<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="log.level" value="debug"/>　
    <property name="log.maxHistory" value="30"/>　
    <property name="log.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %green([%thread])  %highlight(%-5level) %cyan(%logger{15})  - %msg%n"/>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>